<div class="container-fluid">
    <!-- =====================================[محصولات پیشنهادی]====================== -->
    <div class="row offer">
          <div class="offert">
           <div class="mydivider1"></div>
           <h4 class="offer-text">: Offer Website Product</h4>
           <div class="mydivider2"></div>
          </div>
        <div class="col-md-2 col-sm-2">
            <div class="card">
                <div class="imgBox">
                  <img src="https://static.nike.com/a/images/t_default/99486859-0ff3-46b4-949b-2d16af2ad421/custom-nike-dunk-high-by-you-shoes.png" alt="mouse corsair" class="mouse">
                </div>
                <div class="contentBox">
                  <h3>Air Jordan 1</h3>
                  <h2 class="price">61.<small>98</small> €</h2>
                  <a href="#" class="buy">Buy Now</a>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-2">
            <div class="card">
                <div class="imgBox">
                  <img src="https://i.ebayimg.com/00/s/MTEyMFgxMTIw/z/ANAAAOSwdM9kITx4/$_12.PNG?set_id=880000500F" alt="mouse corsair" class="mouse">
                </div>
                <div class="contentBox">
                  <h3>Nike Blue M65</h3>
                  <h2 class="price">88.<small>21</small> €</h2>
                  <a href="#" class="buy">Buy Now</a>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-2">
            <div class="card">
                <div class="imgBox">
                  <img src="https://static.nike.com/a/images/t_default/d3123e79-53e5-4a03-aa5b-fbc5c18b9bfd/air-jordan-1-low-womens-shoes-Bz4GT4.png" alt="mouse corsair" class="mouse">
                </div>
                <div class="contentBox">
                  <h3>Nike Black</h3>
                  <h2 class="price">69.<small>96</small> €</h2>
                  <a href="#" class="buy">Buy Now</a>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-2">
            <div class="card">
                <div class="imgBox">
                  <img src="https://static.nike.com/a/images/t_default/74afe80e-07f0-4da5-8d35-54da6afe5bdf/air-jordan-1-low-shoes-459b4T.png" alt="mouse corsair" class="mouse">
                </div>
                <div class="contentBox">
                  <h3>Low Women</h3>
                  <h2 class="price">50.<small>12</small> €</h2>
                  <a href="#" class="buy">Buy Now</a>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-2">
            <div class="card">
                <div class="imgBox">
                  <img src="https://static.nike.com/a/images/t_default/390e7aea-a6e4-45f4-9ce2-ee186c3d236a/air-jordan-1-zoom-cmft-2-shoes-CfvWJr.png" alt="mouse corsair" class="mouse">
                </div>
                <div class="contentBox">
                  <h3>Real Nike 12</h3>
                  <h2 class="price">77.<small>17</small> €</h2>
                  <a href="#" class="buy">Buy Now</a>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-2">
            <div class="card">
                <div class="imgBox">
                  <img src="https://static.nike.com/a/images/t_default/c71bab7c-d10b-4651-9579-1f22feaed5ad/air-jordan-xxxvii-low-basketball-shoes-00ZHpg.png" alt="mouse corsair" class="mouse">
                </div>
                <div class="contentBox">
                  <h3>Air Jordan M65</h3>
                  <h2 class="price">99.<small>99</small> €</h2>
                  <a href="#" class="buy">Buy Now</a>
                </div>
            </div>
        </div>
    </div>
        <!-- =====================================[محصولات پیشنهادی پایان]====================== -->
        <!-- ====================================[اخبار و مقالات]================ -->
        <div class="newst">
            <div class="mydivider3"></div>
            <h4 class="news">Hot news!!!</h4>
            <div class="mydivider4"></div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 news">                
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus similique deleniti quas accusantium alias voluptatem exercitationem veritatis. Libero, cupiditate. Natus iste alias aut cupiditate, est illum! Labo</span>
                <br>
                <span>To see all news <a [routerLink]="['/news']"><span class="click hvr-underline-from-left">Click here</span></a>
            </span>
            </div>
            <div class="col-md-6 col-sm-6">
              <nz-carousel nzAutoPlay>
                <div nz-carousel-content *ngFor="let index of array">
                  <h3>{{ index }}</h3>
                </div>
              </nz-carousel>
            </div>
        </div>
        <!-- ====================================[ پایان اخبار و مقالات]================ -->
</div>
<!-- ====================================[  لورم  ]================ -->
<section class="ready padding">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 cta">
              <div class="text-center">
                  <h2 class="heading-primary mb-3">Lorem, ipsum dolor</h2>
                  <h5 class="heading-tertiary mb-5">Lorem, ipsum dolor sit amet consectetur adipisicing elit</h5>
            </div>
          </div>
      </div>
  </div>
</section>
<!-- ====================================[ پایان لورم  ]================ -->