<div class="wrapper">
    <section>
        <div class="container">
            <!-- =====================================[نوبار]==================== -->
            <ul class="docs-nav">
              <li><span class="hvr-underline-from-left"><a [routerLink]="['/air-jordan']" class="nt cc-active">Air Jordan</a></span></li>
              <li><span class="hvr-underline-from-left"><a [routerLink]="['/air-force']" class="nt cc-active">Air Force</a></span></li>
              <li><span class="hvr-underline-from-left"><a [routerLink]="['/air-max']" class="nt cc-active">Air Max</a></span></li>
              <li><span class="hvr-underline-from-left"><a [routerLink]="['/air-huarache']" class="nt cc-active">Air Huarache</a></span></li>
          </ul>

            <!-- =====================================[ پایان نوبار]==================== -->
            <!-- =====================================[ Air Jordan ]==================== -->
            <div class="docs-content">
                <div class="Divider-Title">
                    <div class="mydivider3"></div>
                    <h4 class="t">Air Jordan</h4>
                    <div class="mydivider4"></div>
                </div>
                <br>            
                <div>
                    <div class="row offer">
                        <div class="col-md-3 col-sm-3">
                            <div class="card">
                                <div class="imgBox">
                                  <img src="https://static.nike.com/a/images/t_default/a804053a-0ee2-47fa-a082-0494deb6f00c/precision-6-basketball-shoes-h5907m.png" alt="mouse corsair" class="mouse">
                                </div>
                                <div class="contentBox">
                                  <h3>Air Jordan 1</h3>
                                  <h2 class="price">61.<small>98</small> €</h2>
                                  <a href="#" class="buy">Buy Now</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <div class="card">
                                <div class="imgBox">
                                  <img src="https://static.nike.com/a/images/t_default/aa0f15c7-2b17-4815-9fbc-4e0d3b5f2ae7/air-max-plus-shoes-0WbhWb.png" alt="mouse corsair" class="mouse">
                                </div>
                                <div class="contentBox">
                                  <h3>Air Jordan 1</h3>
                                  <h2 class="price">61.<small>98</small> €</h2>
                                  <a href="#" class="buy">Buy Now</a>
                                </div>
                            </div>
                        </div>                
                        <div class="col-md-3 col-sm-3">
                            <div class="card">
                                <div class="imgBox">
                                  <img src="https://static.nike.com/a/images/t_default/94e06e09-5c8e-4754-992c-afdd6c8d4985/air-max-plus-older-shoe-VWK3gG.png" alt="mouse corsair" class="mouse">
                                </div>
                                <div class="contentBox">
                                  <h3>Air Jordan 1</h3>
                                  <h2 class="price">61.<small>98</small> €</h2>
                                  <a href="#" class="buy">Buy Now</a>
                                </div>
                            </div>
                        </div>                
                        <div class="col-md-3 col-sm-3">
                            <div class="card">
                                <div class="imgBox">
                                  <img src="https://nevermiss.au/cdn/shop/products/NIKETNBALTICBLUE_2.webp?v=1679912834" alt="mouse corsair" class="mouse">
                                </div>
                                <div class="contentBox">
                                  <h3>Air Jordan 1</h3>
                                  <h2 class="price">61.<small>98</small> €</h2>
                                  <a href="#" class="buy">Buy Now</a>
                                </div>
                            </div>
                        </div>                                
                    </div>
                </div>
                <a [routerLink]="['/air-jordan']"><span class="nt hvr-underline-from-left">See All <i class="fa-solid fa-arrow-right"></i></span></a>
                <hr>
            <!-- =====================================[ Air Jordan پایان]==================== -->
            <div>
                    <div class="Divider-Title">
                        <div class="mydivider3"></div>
                        <h4 class="t">Air Force</h4>
                        <div class="mydivider4"></div>
                    </div>
                </div>
            <br>
           <!-- =====================================[  Air Force ]==================== -->
            <div class="row offer">
                <div class="col-md-3 col-sm-3">
                    <div class="card">
                        <div class="imgBox">
                          <img src="https://static.nike.com/a/images/t_default/e839f55c-84d5-4030-9bcf-644e6a6463ea/revolution-6-mens-running-shoes-extra-wide-jxcxnL.png" alt="mouse corsair" class="mouse">
                        </div>
                        <div class="contentBox">
                          <h3>Air Force</h3>
                          <h2 class="price">61.<small>98</small> €</h2>
                          <a href="#" class="buy">Buy Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="card">
                        <div class="imgBox">
                          <img src="https://static.nike.com/a/images/t_default/f8dfa191-60b3-44c1-b730-b25e0a908c35/air-force-1-07-easyon-shoes-vpmlK3.png" alt="mouse corsair" class="mouse">
                        </div>
                        <div class="contentBox">
                          <h3>Air Force</h3>
                          <h2 class="price">61.<small>98</small> €</h2>
                          <a href="#" class="buy">Buy Now</a>
                        </div>
                    </div>
                </div>                
                <div class="col-md-3 col-sm-3">
                    <div class="card">
                        <div class="imgBox">
                          <img src="https://static.nike.com/a/images/t_default/b67c039c-46ba-4618-a9ba-542bd9ba5f16/air-max-excee-mens-shoes-vl97pm.png" alt="mouse corsair" class="mouse">
                        </div>
                        <div class="contentBox">
                          <h3>Air Force</h3>
                          <h2 class="price">61.<small>98</small> €</h2>
                          <a href="#" class="buy">Buy Now</a>
                        </div>
                    </div>
                </div>                
                <div class="col-md-3 col-sm-3">
                    <div class="card">
                        <div class="imgBox">
                          <img src="https://static.nike.com/a/images/t_default/d26e47e6-3247-4934-92a9-85a616001678/air-huarache-womens-shoes-GZpbBG.png" alt="mouse corsair" class="mouse">
                        </div>
                        <div class="contentBox">
                          <h3>Air Force</h3>
                          <h2 class="price">61.<small>98</small> €</h2>
                          <a href="#" class="buy">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <a [routerLink]="['/air-force']"><span class="nt hvr-underline-from-left">See All <i class="fa-solid fa-arrow-right"></i></span></a>                                
           <!-- =====================================[ پایان Air Force ]==================== -->
              
                <hr>
                <div>
                    <div class="Divider-Title">
                        <div class="mydivider3"></div>
                        <h4 class="t">Air Max</h4>
                        <div class="mydivider4"></div>
                    </div>
                </div>
                    <br>
                <!-- =====================================[ Air Max ]==================== -->
                <div class="row offer">
                    <div class="col-md-3 col-sm-3">
                        <div class="card">
                            <div class="imgBox">
                              <img src="https://static.nike.com/a/images/t_default/209889d9-4910-4f06-9d07-18afa558b566/air-max-270-shoes-2V5C4p.png" alt="mouse corsair" class="mouse">
                            </div>
                            <div class="contentBox">
                              <h3>Air Max</h3>
                              <h2 class="price">61.<small>98</small> €</h2>
                              <a href="#" class="buy">Buy Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <div class="card">
                            <div class="imgBox">
                              <img src="https://static.nike.com/a/images/t_default/6cf11a76-790b-4112-93aa-a25e6fffc585/custom-nike-dunk-high-by-you-shoes.png" alt="mouse corsair" class="mouse">
                            </div>
                            <div class="contentBox">
                              <h3>Air Max</h3>
                              <h2 class="price">61.<small>98</small> €</h2>
                              <a href="#" class="buy">Buy Now</a>
                            </div>
                        </div>
                    </div>                
                    <div class="col-md-3 col-sm-3">
                        <div class="card">
                            <div class="imgBox">
                              <img src="https://static.nike.com/a/images/t_default/fdded470-0ac5-4bd7-b41b-1bb63e161438/custom-nike-air-force-1-mid-by-you-shoes.png" alt="mouse corsair" class="mouse">
                            </div>
                            <div class="contentBox">
                              <h3>Air Max</h3>
                              <h2 class="price">61.<small>98</small> €</h2>
                              <a href="#" class="buy">Buy Now</a>
                            </div>
                        </div>
                    </div>                
                    <div class="col-md-3 col-sm-3">
                        <div class="card">
                            <div class="imgBox">
                              <img src="https://static.nike.com/a/images/t_default/eb8ba79f-0a73-445e-8b81-67e4594acc1a/air-max-270-womens-shoes-Pgb94t.png" alt="mouse corsair" class="mouse">
                            </div>
                            <div class="contentBox">
                              <h3>Air Max</h3>
                              <h2 class="price">61.<small>98</small> €</h2>
                              <a href="#" class="buy">Buy Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <a [routerLink]="['/air-max']"><span class="nt hvr-underline-from-left">See All <i class="fa-solid fa-arrow-right"></i></span></a>    
                <!-- =====================================[ پایان Air-Max ]==================== -->
                <hr>
                <div>
                    <div class="Divider-Title">
                        <div class="mydivider3"></div>
                        <h4 class="t">Air Huarache</h4>
                        <div class="mydivider4"></div>
                    </div>
                </div>
                <br>
                <!-- =====================================[ Air Huarache ]==================== -->
                <div class="row offer">
                    <div class="col-md-3 col-sm-3">
                        <div class="card">
                            <div class="imgBox">
                              <img src="https://static.nike.com/a/images/t_default/7292b7c0-bf22-453e-8ca7-3e54a537cbbb/air-huarache-premium-mens-shoes-3Xkqb4.png" alt="mouse corsair" class="mouse">
                            </div>
                            <div class="contentBox">
                              <h3>Air Huarache</h3>
                              <h2 class="price">61.<small>98</small> €</h2>
                              <a href="#" class="buy">Buy Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <div class="card">
                            <div class="imgBox">
                              <img src="https://static.nike.com/a/images/t_default/0a9311a7-3ed0-492d-95e5-8877c4738887/air-huarache-mens-shoes-JppwBb.png" alt="mouse corsair" class="mouse">
                            </div>
                            <div class="contentBox">
                              <h3>Air Huarache</h3>
                              <h2 class="price">61.<small>98</small> €</h2>
                              <a href="#" class="buy">Buy Now</a>
                            </div>
                        </div>
                    </div>                
                    <div class="col-md-3 col-sm-3">
                        <div class="card">
                            <div class="imgBox">
                              <img src="https://static.nike.com/a/images/t_default/d5bd41b6-b0ed-4ab7-9bf2-a6eb4254771c/air-huarache-shoes-7T1GPr.png" alt="mouse corsair" class="mouse">
                            </div>
                            <div class="contentBox">
                              <h3>Air Huarache</h3>
                              <h2 class="price">61.<small>98</small> €</h2>
                              <a href="#" class="buy">Buy Now</a>
                            </div>
                        </div>
                    </div>                
                    <div class="col-md-3 col-sm-3">
                        <div class="card">
                            <div class="imgBox">
                              <img src="https://static.nike.com/a/images/t_default/bc828545-c267-47f8-aad2-e4ac06022d48/huarache-run-baby-toddler-shoes-qVxqNx.png" alt="mouse corsair" class="mouse">
                            </div>
                            <div class="contentBox">
                              <h3>Air Huarache</h3>
                              <h2 class="price">61.<small>98</small> €</h2>
                              <a href="#" class="buy">Buy Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <a [routerLink]="['/air-huarache']"><span class="nt hvr-underline-from-left">See All <i class="fa-solid fa-arrow-right"></i></span></a>    
                <!-- =====================================[ پایان Air Huarache ]==================== -->
            </div>
        </div>
    </section>
</div>
