<div class="wrapper">
  <section>
      <div class="container">
          <!-- =====================================[نوبار]==================== -->
          <div>
            
          </div>
          <ul class="docs-nav">
              <li><span class="hvr-underline-from-left"><a [routerLink]="['/air-jordan']" class="nt cc-active">Air Jordan</a></span></li>
              <li><span class="hvr-underline-from-left"><a [routerLink]="['/air-force']" class="nt cc-active">Air Force</a></span></li>
              <li><span class="hvr-underline-from-left"><a [routerLink]="['/air-max']" class="nt cc-active">Air Max</a></span></li>
              <li><span class="hvr-underline-from-left"><a [routerLink]="['/air-huarache']" class="nt cc-active">Air Huarache</a></span></li>
              <hr>
              <app-navbar-product></app-navbar-product>
          </ul>

          <!-- =====================================[ پایان نوبار]==================== -->
          <div class="docs-content">
          <div>
                  <div class="Divider-Title">
                      <div class="mydivider3"></div>
                      <h4 class="t">Air Jordan</h4>
                      <div class="mydivider4"></div>
                  </div>
              </div>
          <br>
         <!-- =====================================[   محصولات ]==================== -->
          <div class="row offer">
            <div class="col-md-3 col-sm-3">
              <div class="card">
                  <div class="imgBox">
                    <img src="https://static.nike.com/a/images/t_default/a804053a-0ee2-47fa-a082-0494deb6f00c/precision-6-basketball-shoes-h5907m.png" alt="mouse corsair" class="mouse">
                  </div>
                  <div class="contentBox">
                    <h3>Air Jordan 1</h3>
                    <h2 class="price">61.<small>98</small> €</h2>
                    <a href="#" class="buy">Buy Now</a>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-3">
              <div class="card">
                  <div class="imgBox">
                    <img src="https://static.nike.com/a/images/t_default/aa0f15c7-2b17-4815-9fbc-4e0d3b5f2ae7/air-max-plus-shoes-0WbhWb.png" alt="mouse corsair" class="mouse">
                  </div>
                  <div class="contentBox">
                    <h3>Air Jordan 1</h3>
                    <h2 class="price">61.<small>98</small> €</h2>
                    <a href="#" class="buy">Buy Now</a>
                  </div>
              </div>
          </div>                
          <div class="col-md-3 col-sm-3">
              <div class="card">
                  <div class="imgBox">
                    <img src="https://static.nike.com/a/images/t_default/94e06e09-5c8e-4754-992c-afdd6c8d4985/air-max-plus-older-shoe-VWK3gG.png" alt="mouse corsair" class="mouse">
                  </div>
                  <div class="contentBox">
                    <h3>Air Jordan 1</h3>
                    <h2 class="price">61.<small>98</small> €</h2>
                    <a href="#" class="buy">Buy Now</a>
                  </div>
              </div>
          </div>                
          <div class="col-md-3 col-sm-3">
              <div class="card">
                  <div class="imgBox">
                    <img src="https://nevermiss.au/cdn/shop/products/NIKETNBALTICBLUE_2.webp?v=1679912834" alt="mouse corsair" class="mouse">
                  </div>
                  <div class="contentBox">
                    <h3>Air Jordan 1</h3>
                    <h2 class="price">61.<small>98</small> €</h2>
                    <a href="#" class="buy">Buy Now</a>
                  </div>
              </div>
          </div>                                
           </div>
          <div class="row offer">
              <div class="col-md-3 col-sm-3 col-xs-3">
                <div class="card">
                  <div class="imgBox">
                    <img src="https://static.nike.com/a/images/t_default/99486859-0ff3-46b4-949b-2d16af2ad421/custom-nike-dunk-high-by-you-shoes.png" alt="mouse corsair" class="mouse">
                  </div>
                  <div class="contentBox">
                    <h3>Air Jordan 1</h3>
                    <h2 class="price">61.<small>98</small> €</h2>
                    <a href="#" class="buy">Buy Now</a>
                  </div>
              </div>
            </div>
              <div class="col-md-3 col-sm-3 col-xs-3">
                  <div class="card">
                      <div class="imgBox">
                        <img src="https://static.nike.com/a/images/t_default/f8dfa191-60b3-44c1-b730-b25e0a908c35/air-force-1-07-easyon-shoes-vpmlK3.png" alt="mouse corsair" class="mouse">
                      </div>
                      <div class="contentBox">
                        <h3>Air Force</h3>
                        <h2 class="price">61.<small>98</small> €</h2>
                        <a href="#" class="buy">Buy Now</a>
                      </div>
                  </div>
              </div>                
              <div class="col-md-3 col-sm-3 col-xs-3">
                  <div class="card">
                      <div class="imgBox">
                        <img src="https://static.nike.com/a/images/t_default/b67c039c-46ba-4618-a9ba-542bd9ba5f16/air-max-excee-mens-shoes-vl97pm.png" alt="mouse corsair" class="mouse">
                      </div>
                      <div class="contentBox">
                        <h3>Air Force</h3>
                        <h2 class="price">61.<small>98</small> €</h2>
                        <a href="#" class="buy">Buy Now</a>
                      </div>
                  </div>
              </div>                
              <div class="col-md-3 col-sm-3 col-xs-3">
                <div class="card">
                  <div class="imgBox">
                    <img src="https://i.ebayimg.com/00/s/MTEyMFgxMTIw/z/ANAAAOSwdM9kITx4/$_12.PNG?set_id=880000500F" alt="mouse corsair" class="mouse">
                  </div>
                  <div class="contentBox">
                    <h3>Nike Blue M65</h3>
                    <h2 class="price">88.<small>21</small> €</h2>
                    <a href="#" class="buy">Buy Now</a>
                  </div>
              </div>
            </div>
          </div>
          <div class="row offer">
              <div class="col-md-3 col-sm-3 col-xs-3">
                <div class="card">
                  <div class="imgBox">
                    <img src="https://static.nike.com/a/images/t_default/d3123e79-53e5-4a03-aa5b-fbc5c18b9bfd/air-jordan-1-low-womens-shoes-Bz4GT4.png" alt="mouse corsair" class="mouse">
                  </div>
                  <div class="contentBox">
                    <h3>Nike Black</h3>
                    <h2 class="price">69.<small>96</small> €</h2>
                    <a href="#" class="buy">Buy Now</a>
                  </div>
              </div>
              </div>
              <div class="col-md-3 col-sm-3 col-xs-3">
                <div class="card">
                  <div class="imgBox">
                    <img src="https://static.nike.com/a/images/t_default/74afe80e-07f0-4da5-8d35-54da6afe5bdf/air-jordan-1-low-shoes-459b4T.png" alt="mouse corsair" class="mouse">
                  </div>
                  <div class="contentBox">
                    <h3>Low Women</h3>
                    <h2 class="price">50.<small>12</small> €</h2>
                    <a href="#" class="buy">Buy Now</a>
                  </div>
              </div>
              </div>                
              <div class="col-md-3 col-sm-3 col-xs-3">
                <div class="card">
                  <div class="imgBox">
                    <img src="https://static.nike.com/a/images/t_default/390e7aea-a6e4-45f4-9ce2-ee186c3d236a/air-jordan-1-zoom-cmft-2-shoes-CfvWJr.png" alt="mouse corsair" class="mouse">
                  </div>
                  <div class="contentBox">
                    <h3>Real Nike 12</h3>
                    <h2 class="price">77.<small>17</small> €</h2>
                    <a href="#" class="buy">Buy Now</a>
                  </div>
              </div>
              </div>                
              <div class="col-md-3 col-sm-3 col-xs-3">
                <div class="card">
                  <div class="imgBox">
                    <img src="https://static.nike.com/a/images/t_default/c71bab7c-d10b-4651-9579-1f22feaed5ad/air-jordan-xxxvii-low-basketball-shoes-00ZHpg.png" alt="mouse corsair" class="mouse">
                  </div>
                  <div class="contentBox">
                    <h3>Air Jordan M65</h3>
                    <h2 class="price">99.<small>99</small> €</h2>
                    <a href="#" class="buy">Buy Now</a>
                  </div>
              </div>
                  </div>
          </div>
          <div class="row offer">
              <div class="col-md-3 col-sm-3 col-xs-3">
                  <div class="card">
                      <div class="imgBox">
                        <img src="https://static.nike.com/a/images/t_default/e839f55c-84d5-4030-9bcf-644e6a6463ea/revolution-6-mens-running-shoes-extra-wide-jxcxnL.png" alt="mouse corsair" class="mouse">
                      </div>
                      <div class="contentBox">
                        <h3>Air Force</h3>
                        <h2 class="price">61.<small>98</small> €</h2>
                        <a href="#" class="buy">Buy Now</a>
                      </div>
                  </div>
              </div>
              <div class="col-md-3 col-sm-3 col-xs-3">
                  <div class="card">
                      <div class="imgBox">
                        <img src="https://static.nike.com/a/images/t_default/f8dfa191-60b3-44c1-b730-b25e0a908c35/air-force-1-07-easyon-shoes-vpmlK3.png" alt="mouse corsair" class="mouse">
                      </div>
                      <div class="contentBox">
                        <h3>Air Force</h3>
                        <h2 class="price">61.<small>98</small> €</h2>
                        <a href="#" class="buy">Buy Now</a>
                      </div>
                  </div>
              </div>                
              <div class="col-md-3 col-sm-3 col-xs-3">
                  <div class="card">
                      <div class="imgBox">
                        <img src="https://static.nike.com/a/images/t_default/b67c039c-46ba-4618-a9ba-542bd9ba5f16/air-max-excee-mens-shoes-vl97pm.png" alt="mouse corsair" class="mouse">
                      </div>
                      <div class="contentBox">
                        <h3>Air Force</h3>
                        <h2 class="price">61.<small>98</small> €</h2>
                        <a href="#" class="buy">Buy Now</a>
                      </div>
                  </div>
              </div>                
              <div class="col-md-3 col-sm-3 col-xs-3">
                  <div class="card">
                      <div class="imgBox">
                        <img src="https://static.nike.com/a/images/t_default/d26e47e6-3247-4934-92a9-85a616001678/air-huarache-womens-shoes-GZpbBG.png" alt="mouse corsair" class="mouse">
                      </div>
                      <div class="contentBox">
                        <h3>Air Force</h3>
                        <h2 class="price">61.<small>98</small> €</h2>
                        <a href="#" class="buy">Buy Now</a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row offer">
              <div class="col-md-3 col-sm-3 col-xs-3">
                  <div class="card">
                      <div class="imgBox">
                        <img src="https://static.nike.com/a/images/t_default/e839f55c-84d5-4030-9bcf-644e6a6463ea/revolution-6-mens-running-shoes-extra-wide-jxcxnL.png" alt="mouse corsair" class="mouse">
                      </div>
                      <div class="contentBox">
                        <h3>Air Force</h3>
                        <h2 class="price">61.<small>98</small> €</h2>
                        <a href="#" class="buy">Buy Now</a>
                      </div>
                  </div>
              </div>
              <div class="col-md-3 col-sm-3 col-xs-3">
                  <div class="card">
                      <div class="imgBox">
                        <img src="https://static.nike.com/a/images/t_default/f8dfa191-60b3-44c1-b730-b25e0a908c35/air-force-1-07-easyon-shoes-vpmlK3.png" alt="mouse corsair" class="mouse">
                      </div>
                      <div class="contentBox">
                        <h3>Air Force</h3>
                        <h2 class="price">61.<small>98</small> €</h2>
                        <a href="#" class="buy">Buy Now</a>
                      </div>
                  </div>
              </div>                
              <div class="col-md-3 col-sm-3 col-xs-3">
                  <div class="card">
                      <div class="imgBox">
                        <img src="https://static.nike.com/a/images/t_default/b67c039c-46ba-4618-a9ba-542bd9ba5f16/air-max-excee-mens-shoes-vl97pm.png" alt="mouse corsair" class="mouse">
                      </div>
                      <div class="contentBox">
                        <h3>Air Force</h3>
                        <h2 class="price">61.<small>98</small> €</h2>
                        <a href="#" class="buy">Buy Now</a>
                      </div>
                  </div>
              </div>                
              <div class="col-md-3 col-sm-3 col-xs-3">
                  <div class="card">
                      <div class="imgBox">
                        <img src="https://static.nike.com/a/images/t_default/d26e47e6-3247-4934-92a9-85a616001678/air-huarache-womens-shoes-GZpbBG.png" alt="mouse corsair" class="mouse">
                      </div>
                      <div class="contentBox">
                        <h3>Air Force</h3>
                        <h2 class="price">61.<small>98</small> €</h2>
                        <a href="#" class="buy">Buy Now</a>
                      </div>
                  </div>
              </div>
          </div>

<!-- =====================================[ پایان  محصولات ]==================== -->
          </div>
      </div>
  </section>
</div>
