<div class="f container-fluid">
    <div class="row">
        <div class="col-md-6 col-sm-6 con">
            <span>Contact with us:
                <br>
                Phone Number : +9851632
            </span>
            <!-- ===================[ایکون]============= -->
            <div class="ri">
                <a href="#" target="_blank" id="ytb">
                    <i class="fa-brands fa-youtube icon"></i>
                </a>
                <a href="#" target="_blank" id="ins">
                    <i class="fa-brands fa-instagram icon"></i>
                </a>
                <a href="#" target="_blank" id="tel">
                    <i class="fa-brands fa-telegram icon"></i>
                </a>    
            </div>
        </div>
        <div class="col-md-6 col-sm-6 license"><img src=""><span>This is Site license image</span></div>
        <!-- ===================[ پایان ایکون]============= -->
        <!-- <nz-upload nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76" nzDirectory class="ready">
            <button nz-button class="button btn-hover">
              <span nz-icon nzType="upload"></span>
              Upload Directory
            </button>
        </nz-upload> -->
    </div>
</div>