/* You can add global styles to this file, and also import other style files */
@import 'node_modules/@fortawesome/fontawesome-free/css/all.css';
@import 'node_modules/bootstrap/dist/css/bootstrap.min.css';
@import 'src/assets/hover-min.css';
@import 'src/assets/hover.css';
@import 'node_modules/ng-zorro-antd/ng-zorro-antd.min.css';
@import 'node_modules/ng-zorro-antd/ng-zorro-antd.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
    background: linear-gradient(115deg, #008C76FF 10%, #9ED9CCFF 90%);
    font-family: 'Lato' !important;
}