<div class="wrapper">
    <section>
        <div class="container">
            <!-- =====================================[نوبار]==================== -->
            <ul class="docs-nav">
                <li><span class="nav-sabad">Product name:</span></li>
                <li><span class="nav-sabad">Price :</span></li>
            <hr>
            <span class="nav-sabad-t">Total price :</span>
            </ul>

            <!-- =====================================[ پایان نوبار]==================== -->
            <div class="docs-content">
                <div class="Divider-Title">
                    <div class="mydivider3"></div>
                    <h4 class="t">Bascet Shop</h4>
                    <div class="mydivider4"></div>
                </div>
            <!-- ===============================[فرم]====================== -->
            <form class="cart-form" action="#">
                <div class="row no-gutters">
                    <div class="col-12">
                        <div class="table-content table-responsive">
                            <table class="sabad table text-center">
                                <thead>
                                    <tr>
                                        <th>&nbsp;</th>
                                        <th>&nbsp;</th>
                                        <th class="">Product</th>
                                        <th>price</th>
                                        <th>quantity</th>
                                        <th>total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><a class="remove-card" href=""><i class="fa-solid fa-xmark"></i></a></td>
                                        <td class="product-thumbnail ">
                                            <div class="card">
                                                <div class="imgBox">
                                                  <img src="https://static.nike.com/a/images/t_default/b67c039c-46ba-4618-a9ba-542bd9ba5f16/air-max-excee-mens-shoes-vl97pm.png" alt="mouse corsair" class="mouse">
                                                </div>
                                                <div class="contentBox">
                                                  <h3>Air Force</h3>
                                                  <h2 class="price">61.<small>98</small> €</h2>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="product-name  wide-column ">
                                            <h3>
                                                <a class="remove-card" href="product-details.html">Super skinny blazer</a>
                                            </h3>
                                        </td>
                                        <td class="product-price">
                                            <span class="product-price-wrapper">
                                                <span class="money">$49.00</span>
                                            </span>
                                        </td>
                                        <td class="product-quantity">
                                            <div class="quantity">
                                                <input type="number" class="quantity-input" name="qty" id="qty-1" value="1" min="1">
                                            </div>
                                        </td>
                                        <td class="product-total-price">
                                            <span class="product-price-wrapper">
                                                <span class="money">$49.00</span>
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><a class="remove-card" href=""><i class="fa-solid fa-xmark"></i></a></td>
                                        <td class="product-thumbnail ">
                                            <div class="card">
                                                <div class="imgBox">
                                                  <img src="https://static.nike.com/a/images/t_default/d26e47e6-3247-4934-92a9-85a616001678/air-huarache-womens-shoes-GZpbBG.png" alt="mouse corsair" class="mouse">
                                                </div>
                                                <div class="contentBox">
                                                  <h3>Air Force</h3>
                                                  <h2 class="price">61.<small>98</small> €</h2>
                                                </div>
                                            </div>                                                                </td>
                                        <td class="product-name  wide-column">
                                            <h3>
                                                <a class="remove-card" href="product-details.html"> Jogging trousers</a>
                                            </h3>
                                        </td>
                                        <td class="product-price">
                                            <span class="product-price-wrapper">
                                                <span class="money">$49.00</span>
                                            </span>
                                        </td>
                                        <td class="product-quantity">
                                            <div class="quantity">
                                                <input type="number" class="quantity-input" name="qty" id="qty-2" value="1" min="1">
                                            </div>
                                        </td>
                                        <td class="product-total-price">
                                            <span class="product-price-wrapper">
                                                <span class="money">$49.00</span>
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><a class="remove-card" href=""><i class="fa-solid fa-xmark"></i></a></td>
                                        <td class="product-thumbnail ">
                                            <div class="card">
                                                <div class="imgBox">
                                                  <img src="https://static.nike.com/a/images/t_default/fdded470-0ac5-4bd7-b41b-1bb63e161438/custom-nike-air-force-1-mid-by-you-shoes.png" alt="mouse corsair" class="mouse">
                                                </div>
                                                <div class="contentBox">
                                                  <h3>Air Max</h3>
                                                  <h2 class="price">61.<small>98</small> €</h2>
                                                  <a href="#" class="buy">Buy Now</a>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="product-name  wide-column">
                                            <h3>
                                                <a class="remove-card" href="product-details.html"> Grey blue leather backpack</a>
                                            </h3>
                                        </td>
                                        <td class="product-price">
                                            <span class="product-price-wrapper">
                                                <span class="money">$49.00</span>
                                            </span>
                                        </td>
                                        <td class="product-quantity">
                                            <div class="quantity">
                                                <input type="number" class="quantity-input" name="qty" id="qty-3" value="1" min="1">
                                            </div>
                                        </td>
                                        <td class="product-total-price">
                                            <span class="product-price-wrapper">
                                                <span class="money">$49.00</span>
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>  
                    </div>
                </div>
            </form>
            <!-- ===============================[فرم پایان]====================== -->
            <div class="Divider-Title">
                <div class="mydivider3"></div>
                <h4 class="t">Last Step</h4>
                <div class="mydivider4"></div>
            </div>
             <!-- ===============================[آخرین قدم ]====================== -->
             <div class="login-box">
             <form>
                <input nz-input formControlName="userName" placeholder="Country :" />
                <input nz-input formControlName="userName" placeholder="City :" />
                <input nz-input formControlName="userName" placeholder="Phone Number :" />
                <input nz-input formControlName="userName" placeholder="Address :" />
                <div>
                    <a href="#">
                      <span></span>
                      <span></span>
                      <span></span>
                      <span></span>
                      Payment 
                    </a>
                  </div>      
             </form>
             </div>
            <!-- ===============================[آخرین قدم پایان]====================== -->
        </div>
        </div>
    </section>
</div>
